.vector {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 53px;
  height: 53px;
  left: 70px;
  top: 53px;
  cursor: pointer;

  border-radius: 50%;
  background: #d9d9d9;
}

.vectorImg {
  width: 9.21px;
  height: 16px;
}

.info {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  /* შავი/700 */

  color: #232323;
  margin: 0;
  margin-top: 15px;
}
