.parent {
  display: flex;
}

.text {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 21px;
  /* identical to box height, or 62% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 79px;
}
.firstLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 84px;
  border-bottom: 1px solid #a5a5a5;
  width: 1178px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 84px;
}
.img {
  width: 577px;
  height: 342px;
}
.nameline {
  display: flex;
  flex-direction: column;
}
.namelineNew {
  display: flex;
  flex-direction: column;
}
.namelineNamefirst {
  display: flex;
  flex-direction: column;
}
.namelineNameSecond {
  display: flex;
  flex-direction: column;
}
.widtName {
  margin-right: 80px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;

  /* შავი/500 */

  color: #2e2e2e;
}
.parentUser {
  display: flex;
  flex-direction: row;
  margin-left: 105px;
}
.property {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* or 123% */

  /* შავი/400 */

  color: #797979;
}

.secondLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 54px;
  border-bottom: 1px solid #a5a5a5;
  width: 1178px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 84px;
}

.secondlineParent {
  display: flex;
  margin-left: 311px;
}
.secondlineParentNew {
  display: flex;
  margin-left: 311px;
}

@media only screen and (max-width: 900px) {
  .img {
    height: 191px;
    width: 358px;
    left: 16px;
    top: 84px;
    border-radius: 0px;
  }
  .parent {
    position: absolute;
    width: 390px;
    height: 844px;
  }

  .text {
    position: absolute;
    width: 146px;
    height: 20px;
    left: calc(50% - 146px / 2 - 1px);
    top: -51px;

    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    /* შავი/700 */

    color: #232323;
  }

  .firstLine {
    flex-direction: column;
    width: 380px;
  }

  .widtName {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 178%;
    /* or 25px */

    /* შავი/500 */

    color: #2e2e2e;
    margin: 7px;
  }

  .property {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* or 179% */

    /* შავი/400 */

    color: #797979;
    margin: 7px;
    margin-left: 45px;
  }
  .parentUser {
    margin-left: 10px;
  }

  .secondLine {
    flex-direction: column;
    width: 380px;
  }

  .namelineNameSecond {
    margin-top: -157px;
    margin-left: 130px;
  }

  .secondlineParentNew {
    margin-left: 0;
  }
  .namelineNew {
    margin-top: -80px;
    margin-left: 160px;
  }
}
