.conteiner {
  height: 973px;
  width: 1226px;
  background: #ffffff;
  border-radius: 18px;
  margin-top: 27px;
}
.inpConteiner {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fixed1 {
  position: fixed;
  margin-top: 266px;
  z-index: 1;
}

.fixed2 {
  position: fixed;
  margin-top: 379px;
}
