.conteiner {
  height: 973px;
  width: 1226px;
  background: #ffffff;
  border-radius: 18px;
  margin-top: 27px;
}
.inpConteiner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 88px;
}
.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fixed1 {
  position: absolute;
  margin-top: 216px;
  z-index: 2;
}

.fixed2 {
  position: absolute;
  margin-top: 329px;
  z-index: 1;
}
.email {
  margin-top: 245px;
}

.btn {
  margin-left: 700px;
  margin-top: 70px;
}
