.btn {
  height: 60px;
  width: 387px;
  left: 766px;
  top: 787px;
  border-radius: 8px;
  padding: 18px 60px 18px 60px;

  border: none;
  cursor: pointer;
  background: #62a1eb;
  border-radius: 8px;
  color: #ffff;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.btn:hover {
  background: #317ad0;
}
