.inputConteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;
  /* margin-top: 88px; */
}

.label {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;

  color: #000000;
}
.input {
  box-sizing: border-box;

  /* ლურჯი/400 */

  border: 1.8px solid #8ac0e2;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  /* textarea */

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */

  display: flex;
  align-items: center;

  color: #000000;
  padding-left: 16px;
}

.input:focus {
  box-sizing: border-box;
  outline: none !important;
  background: rgba(43, 75, 242, 0.06);
  border: 1.8px solid #6499ff;
  border-radius: 8px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  color: #000000;
}

.instructions {
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  margin-top: -2px;
  /* შავი/500 */

  color: #2e2e2e;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
